<form action="/payments/create" method="POST">
  <p>
    <label>First name:
      <input type="text" name="first_name" />
    </label>
  </p>
  <p>
    <label>Last name:
      <input type="text" name="last_name"/>
    </label>
  </p>
  <p>
    <label>Card number:
      <input type="text" name="card_number" />
    </label>
  </p>
  <p>
    <label>Expiration Date:
      <input type="text" name="date"/>
    </label>
  </p>
  <p>
    <label>CCV:
      <input type="text" name="ccv"/>
    </label>
  </p>
  <button type="submit">Submit</button>
</form>